<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	
  <!-- =======================================
    外部属性文件在此添加...
   ============================================ -->
  <context:property-placeholder location="classpath:config.properties"/>
  
  <!-- Spring Annotation  -->
  <context:component-scan base-package="com.kindustry.*.dao.impl,com.kindustry.*.service.impl"></context:component-scan>
  
  <!-- =======================================
    各模块xml配置在此添加...  <import resource="modules/module-bean.xml" />
   ============================================ -->
  <import resource="spring/spring-hibernate.xml" />
  <import resource="spring/spring-shiro.xml" />


</beans>